[Desktop Entry]
Name=COSMIC ext Custom Tiling Exceptions
Exec=dev_heppen_tiling_exception_custom
Terminal=false
Type=Application
StartupNotify=true
Icon=preferences-applications-symbolic
Categories=COSMIC;Utility;Applet;
Keywords=Folder;Manager;
MimeType=inode/directory;
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
